<head th:fragment="head">
	<meta charset="utf-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

	<title>Spring Boot Rocks</title>

	<meta name="description" content="" />

	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
		rel="stylesheet" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css"
		integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="stylesheet" th:href="@{/webjars/remixicon/fonts/remixicon.css}"/>

	<link th:rel="stylesheet" th:href="@{/css/core.css}" class="template-customizer-core-css" />

	<link rel="stylesheet" th:href="@{/css/theme-default.css}" class="template-customizer-theme-css" />
	<link rel="stylesheet" th:href="@{/css/demo.css}" />

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.6/css/perfect-scrollbar.css"
		integrity="sha512-2xznCEl5y5T5huJ2hCmwhvVtIGVF1j/aNUEJwi/BzpWPKEzsZPGpwnP1JrIMmjPpQaVicWOYVu8QvAIg9hwv9w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script th:src="@{/js/helpers.js}"></script>
	<script th:src="@{/js/config.js}"></script>

</head>