<div th:fragment="jsimports">
	<div class="buy-now">
		<a href="#" class="btn btn-danger btn-buy-now" onclick='window.scrollTo({top: 0, behavior: "smooth"});'><i
				class="ri-arrow-up-circle-line"></i></a>
	</div>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>

	<script th:src="@{/js/node-waves.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.5.6/perfect-scrollbar.js"
		integrity="sha512-gexUwY2g0aVqmIYG0vi63DvDrhdPRpNuietzPhrv9K6ebHow+2yXNWFaqa6zk95jikZEPKOckqCv8hE/5807ew=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script th:src="@{/js/menu.js}"></script>
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/dashboards-analytics.js}"></script>
	<script async defer src="https://buttons.github.io/buttons.js"></script>
</div>